<%- include('header.ejs')%>
<div style="width: 400px; float: left; margin: 0 50px;">
    <form action="/tweet_submit" method="post" enctype="multipart/form-data">
        <textarea name="post" style="width: 300px; height: 100px;"></textarea>
        <br/>
        <input type="file" name="tweet_img"/>
        <input type="submit" value="Tweet"/>
    </form>
    <div class="tweet">
        <% for(var i=0;i<result.length;i++){ %>
            <div class ="tweet_wrap">
                <div class="t_un"><%=result[i].username%></div>
                <div class="t_time"><%var d= new Date(result[i].datetime);
                    td = d.getFullYear()+"-"+d.getMonth()+"-"+d.getDate();
                    %>
                    <%=td%>
                </div>
                <div class="tweet_post"><%=result[i].post%><br/>
                    <%if(result[i].type=="image/jpg"||result[i].type=="image/jpeg"||result[i].type=="image/png"||result[i].type=="image/gif"){%>
                        <img src="/uploads/<%=result[i].image_vdo_name%>" width="200" height="200" />
                    <%} else{%>
                    <video width="200" height="200" controls autoplay>
                        <source src="/uploads/<%=result[i].image_vdo_name%>"/>
                    </video>
                    <%}%>
                </div>
            </div>
        <% } %>
    </div>
</div>
<%- include('trending_tags.ejs')%>